<!DOCTYPE HTML>
<html lang="en">
<head>
<title>ToDoIt </title>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
<!-- Leaving some room for the links to css !-->
</head>
<body>
    <h1><center>Please enter tasks for your group </center></h1>
    <center>
    <form method="POST">
    Task Description: <br>
    <input type="text" name="description"><br>
    Person In Charge: <br>
    <input type="text" name="person_responsible"><br>
    Due Date: <br>
    <input type="text" name="due_date"><br><br>
    <button type="submit" name="submit" value="send">Submit</button>
        
    <button type="submit" name="submit" value="clear"> Clear Fields</button>
        
    <button type="submit" name="submit" value="view_tasks">View Tasks</button>
    </form>
    </center>
    
    </body>
    

    
</html>